.modal-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  display: flex;
}

.modal {
  padding: 1em;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
input {
  margin-top: 1em;
}